.table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.thAge {
  width: 100px;
}

.thAge:hover {
  background-color: #f1f1f1;
  cursor: pointer;
  user-select: none;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
}