.pagination {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 16px;
}

.button {
  padding: 4px 8px;
}

.buttonActive {
  background-color: #e0e0e0;
}

.select {
  margin-left: 16px;
  padding: 4px 8px;
}
