.box {
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.themeList {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.themeItem {
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

input[type='radio'] {
  margin-right: 0.5rem;
  cursor: pointer;
}
