.buttonsContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.responseContainer {
  display: flex;
  gap: 20px;
}

.textContainer {
  width: 500px;
}

.imageContainer {
  width: 300px;
  height: 200px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.definitionList dt {
  font-weight: 700;
}

.definitionList dd {
  margin-left: 0;
}

.item {
  display: flex;
  gap: 10px;
}
