.footer {
  padding: 20px 0;
  background-color: #0d0b0c;
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.link {
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s;
}

.link:hover,
.link:focus {
  color: #fff;
  opacity: 0.6;
}